# Example User service for Rclone mounting
#
# Place at ~/.config/systemd/user/rclone.service
[Unit]
Description=Rclone Mount for Mirage
Documentation=man:rclone(1)
After=network-online.target mirage.service
Wants=network-online.target
Requires=mirage.service
PartOf=mirage.service

[Service]
Type=notify

# NOTE: this probably won't work since the user running this service likely doesn't have permissions to create the mount point, so you'll have to run this command manually (and give it the appropriate permissions) or change the mount point to somewhere else.
ExecStartPre=-/usr/bin/mkdir -p /mnt/mirage
# NOTE: you might want to add --allow-other to the options below, but be aware of the security implications (this also requires updating your /etc/fuse.conf).
ExecStart=/usr/bin/rclone mount mirage: /mnt/mirage \
  --read-only \
  --dir-cache-time 24h \
  --vfs-cache-mode full \
  --vfs-cache-max-size 20G \
  --vfs-cache-max-age 2h \
  --vfs-read-chunk-size 16M \
  --vfs-read-chunk-size-limit 64M \
  --buffer-size 16M \
  --no-checksum \
  --no-modtime

# Unmount properly when the service is stopped
ExecStop=/usr/bin/fusermount3 -uz /mnt/mirage

Restart=on-failure
RestartSec=10
TimeoutStartSec=900

[Install]
WantedBy=default.target